/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

@media (max-width: 501px) {
	html, body {
		overflow-x: hidden;
	}
}

@media (max-width: 801px) {
	html, body {
		overflow-x: hidden;
	}
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
	width: 800px;
	margin: 0 auto;
}

@media (max-width: 501px) {
	.container {
		width: 500px;
	}
}

@media (max-width: 801px) {
	.container {
		width: 700px;
	}
}

header nav a {
	text-decoration: none;
	color: gray;
	margin: 0px 30px 0px 0px;
}

@media (max-width: 501px) {
	header nav a {
		margin-right: unset;
		display: block;
		padding: 0px 220px 24px 220px;
		margin-bottom: 15px;
		border-bottom: 1px solid gray;
		font-size: 20px;
		text-align: center;
	}
}

@media (max-width: 801px) {
	header nav a {
		margin-right: 50px;
	}
}

header {
	display: flex;
	margin-top: 40px;
	justify-content: space-between;
}

@media (max-width: 501px) {
	header {
		justify-content: center;
		flex-wrap: wrap;
		position: relative;
		left: 150px;
	}
}

@media (max-width: 801px) {
	header {
		justify-content: center;
		flex-wrap: wrap;
		position: relative;
	}
}

@media (max-width: 501px) {
	nav {
		order: 2;
		position: relative;
		right: 220px;
	}
}

@media (max-width: 801px) {
	nav {
		order: 2;
		position: relative;

	}
}

.logo {
	position: relative;
	top: -8px;
}

@media (max-width: 501px) {
	.logo {
		
		position: relative;
		right: 220px;
		top: -21px;
		border-bottom: 1px solid gray;
		padding: 0px 220px 30px 160px;
	}
}

@media (max-width: 801px) {
	.logo {
		position: relative;
		
	}
}

section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 30px 0px 10px 0px;
	padding-bottom: 50px;
	border-bottom: 1px dashed black;
}

@media (max-width: 501px) {
	section {
	border-bottom: 2px solid black;
	padding-bottom: 121px;
}
}

@media (max-width: 801px) {
	section {
	border-bottom: 2px solid black;
	padding-bottom: 121px;
}
}

section h1 {
	font-size: 60px;
	text-align: center;
}

@media (max-width: 501px) {
	section h1 {
		font-size: 72px;
		position: relative;
		left: 105px;
		top: 7px;
	}
}


@media (max-width: 801px) {
	section h1 {
		font-size: 72px;
		position: relative;
		left: 22vw;
		top: 7px;
	}
}

@media (max-width: 501px) {
	.img1 {
		display: none;
	}
}

@media (max-width: 801px) {
	.img1 {
		display: none;
	}
}


.get-started {
	color: black;
	text-decoration: none;
	border: 1px solid black;
	padding: 10px 25px;
	font-size: 15px;
	position: relative;
	left: 60px;
	top: -110px;
}

@media (max-width: 801px) {
	.get-started {
		position: relative;
		left: 30vw;
		padding: 3px 43px;
		top: unset;
		bottom: 110px;
		font-size: 17px;
	}
}

@media (max-width: 501px) {
	.get-started {
		position: relative;
		left: 32vw;
		padding: 3px 43px;
		top: unset;
		bottom: 110px;
		font-size: 17px;
		right: 100px;
	}
}

.text-blocks, .text-blocks2 {
	display: flex;
	margin: 30px 0 30px 0;
}

@media (max-width: 501px) {
	.text-blocks, .text-blocks2 {
		display: flex;
		flex-wrap: wrap;
	}

	.text-blocks p, .text-blocks2 p{
		max-width: 400px;
		margin-top: 17px;
	}
} 

@media (max-width: 501px) {
	.text-blocks div, .text-blocks2 div {
		position: relative;
		left: 9px;
		bottom: 6px;
		margin-bottom: 40px;
	}
} 

.text-blocks2 {
	border-bottom: 1px dashed black;
	padding: 30px;
}

@media (max-width: 501px) {
	.text-blocks2 {
		padding: unset;
		border-bottom: 2px solid black;
	}
} 

@media (max-width: 801px) {
	.text-blocks2 {
		border-bottom: 2px solid black;
	}
} 

div p, div h3 {
	margin: 10px 10px 0 10px;
}

h3 {
	font-size: 20px;
}

@media (max-width: 501px) {
	h3 {
		font-size: 16px;
	}
}

.copyright {
	text-align: center;
	margin: 50px 0 80px 0;
}

@media (max-width: 501px) {
	.copyright {
		position: relative;
		right: 90px;
		top: 30px;
	}
}

address p {
	margin: 0;
}

@media (max-width: 501px) {
	address h2 {
		font-size: 18px;
		position: relative;
		left: 20px;
	}

	address p {
		font-size: 15px;
		position: relative;
		left: 20px;
	}
}

@media (max-width: 801px) {
	address h2 {
		font-size: 18px;
		position: relative;
		left: 20px;
	}

	address p {
		font-size: 15px;
		position: relative;
		left: 20px;
	}
}

h2{
	font-size: 30px;
}

.middle-img {
	margin-top: 25px;
	position: relative;
	right: 25px;
}

@media (max-width: 501px) {
	.middle-img {
		width: 100vw;
		position: relative;
		left: 20px;
		bottom: 40px;
		margin-bottom: -42px;
	}
}

@media (max-width: 801px) {
	.middle-img {
		width: 90vw;
		margin: 0px auto;
	}
}

.footer {
	display: flex;
	justify-content: space-between;
}

.footer-left {
	width: 40%;
}

.services-header-img {
	margin: 10px 0 30px 0;
	width: 800px;
}

.services {
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.services-boxes {
	margin-bottom: 20px;
	height: 225px;
	border: 1px solid black;
	width: calc(50% - 20px);
	background-color: #f5f5f5;
}

.services-boxes h3{
	padding: 5px 5px 10px 5px;
}

.services-boxes p{
	padding: 5px 5px 10px 5px;
}

.services-offered {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.learn-more {
	border: 1px solid black;
	position: relative;
	display: block;
	width: 150px;
	height: 35px;
	text-align: center;	
	text-decoration: none;
	color: black;
	left: 20px;
	top: 10px;
	background-color: #fff;

}

.list {
	list-style-type: disc;
	position: relative;
	top: 20px;
	left: 35px;
}

.services-info-img {
	width: calc(50% - 20px);
}

.list li {
	margin: 0 0 5px 0;
}

.learn-more-p {
	position: relative;
	bottom: 7px;
}
